// External libraries
@import "font-awesome";

// Graphical variables
@import "config/fonts";
@import "config/colors";

// Your CSS partials
@import "components/index";



body {
  margin: 0px;
  font-family: $main-font;
}

a, a:visited {
  text-decoration: none;
  color: black;
}
